body {
  width: 100%;
  background: url("../images/background.png") top no-repeat;
  margin: 0;
  position: relative;
  flex: 1;
  height: 600px; }

.sidebar {
  position: fixed;
  width: 20%;
  height: 100%;
  background: #fdfdfd;
  border: 1px solid #efefef;
  border-right: 0;
  top: 0;
  right: 0;
  transition: all 0.2s; }

.sidebar-hide {
  transform: translate(290px);
  opacity: 0; }

.sidebar-show {
  transform: translate(0px);
  opacity: 100; }

.container {
  width: 720px;
  margin: 0 auto; }

.button-container {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px; }

.button-container button {
  display: inline-block;
  border: 0;
  width: 276px;
  height: 50px;
  background: #41aef6;
  color: #fff;
  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  padding-top: 3px;
  transition: all 0.3s;
  position: relative;
  -webkit-font-smoothing: antialiased;
  overflow: hidden; }

.button-container button:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .2;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: 0; }

.button-container button:hover {
  letter-spacing: 3.2px;
  background-color: #09f; }

.button-container button:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1); }

.button-text-container {
  z-index: 20; }

.tab-container {
  margin: 15px;
  overflow: hidden;
  padding: 2px;
  margin-right: 0px; }

.tab-body {
  height: 60px;
  padding: 10px 0;
  padding-top: 0; }

.tabs {
  width: 200px;
  border-radius: 4px;
  float: left;
  transition: all 0.6s;
  cursor: pointer;
  padding: 10px;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  transition: all 0.2s;
  margin-right: 10px; }
  .tabs.filledTabs {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    background: #fcfcfc; }
    .tabs.filledTabs .tab-name {
      font-weight: bold; }
  .tabs.emptyTabs {
    border: 1px dashed #acacac;
    background: rgba(255, 255, 255, 0); }
  .tabs .tab-name {
    position: relative;
    border: 1px solid #e0e0e0;
    margin-left: -70px;
    border-radius: 4px;
    background: #fbfbfb;
    font-size: 10px;
    font-family: sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 3px 10px;
    color: #7d7d7d;
    margin: 0 auto;
    text-align: center;
    max-width: 133px;
    display: inline-block;
    transition: all 0.2s;
    position: relative; }
  .tabs:hover {
    background: #f7f7f7; }
    .tabs:hover .tab-name {
      background: #fff; }
    .tabs:hover .tab-close {
      display: block; }
  .tabs .tab-icons {
    padding: 3px;
    border: 1px solid #d9d9d9;
    width: 17px;
    margin-bottom: -2px; }

.row {
  overflow: hidden;
  padding-top: 2px;
  padding-left: 2px; }

.row .tabs:nth-child(2) {
  margin-left: 18px;
  margin-right: 18px; }

.tab-footer {
  text-align: center; }

.tab-close {
  position: absolute;
  right: 7px;
  bottom: 11px;
  color: #d2d2d2;
  display: none;
  font-size: 14px; }

.power-button-container {
  position: fixed;
  top: 20px;
  right: 20px; }

.power-button {
  border-radius: 40px;
  background: gold;
  color: white;
  border: 0px;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: 1px 1px 1px #dabb42;
  font-size: 12px;
  padding: 10px 20px;
  cursor: pointer;
  position: relative; }

.power-button:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .2;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: 0; }

.power-button:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1); }

.modal-bg {
  background: rgba(0, 0, 0, 0.74);
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto; }

.modal {
  width: 500px;
  padding-bottom: 70px;
  background: white;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 45px;
  position: relative;
  overflow: hidden;
  position: relative;
  margin-bottom: 100px; }

.modal-close {
  font-size: 19px;
  color: #b1b1b1;
  position: absolute;
  top: 10px;
  right: 12px;
  cursor: pointer; }

.modal-header {
  width: 476px;
  padding: 12px;
  background: #f7f7f7;
  border-bottom: 1px solid #eceaea;
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #696969;
  font-weight: bold; }

.modal-body {
  width: 476px;
  padding: 12px; }

.modal-body .input-group label {
  font-size: 11px;
  display: block;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #696969;
  margin-bottom: 8px; }

.modal-body .input-group input[type="text"] {
  display: block;
  width: 450px;
  border: 1px solid #c7c5c5;
  border-radius: 4px;
  padding: 7px 12px;
  outline: none;
  font-size: 14px;
  margin-bottom: 20px;
  transition: all 0.2s; }

.modal-body .input-group textarea {
  display: block;
  width: 450px;
  border: 1px solid #c7c5c5;
  border-radius: 4px;
  padding: 7px 12px;
  outline: none;
  font-size: 14px;
  margin-bottom: 20px;
  resize: false; }

.modal-footer {
  width: 476px;
  padding: 12px;
  position: absolute;
  bottom: 0px;
  left: 0;
  background: #f7f7f7;
  border-top: 1px solid #eceaea;
  height: 30px;
  overflow: hidden; }

.link-tag-container {
  position: relative;
  border: 1px solid #c6c5c5;
  border-radius: 4px;
  padding: 10px;
  background: #fdfdfd;
  overflow: hidden;
  padding-bottom: 0px;
  padding-right: 0px; }
  .link-tag-container .link-image {
    display: block;
    float: left;
    border-radius: 50% 50%;
    overflow: hidden; }
  .link-tag-container .link-text {
    float: left;
    margin-left: 5px;
    width: 84px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.modal-footer .btn {
  border: 0;
  color: white;
  background: #09f;
  border-radius: 4px;
  padding: 6px 20px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px; }

.link-tag {
  border: 1px solid #c6c5c5;
  padding: 3px;
  min-width: 20px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  overflow: hidden;
  padding-right: 30px;
  position: relative;
  cursor: pointer;
  background: white; }
  .link-tag:hover {
    background: rgba(0, 0, 0, 0.04); }

.remove-tab-tag {
  position: absolute;
  right: 6px;
  color: #bdbcbc;
  top: 6px; }

.modal-bg {
  display: none; }

.button {
  position: relative;
  overflow: hidden;
  cursor: pointer; }

.button:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .2;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: 0; }

.button:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1); }

.radio-container {
  overflow: hidden;
  margin-bottom: 20px; }
  .radio-container .options {
    margin-right: 10px;
    float: left;
    overflow: hidden; }
    .radio-container .options label {
      font-weight: bold;
      display: inline; }
    .radio-container .options input {
      display: inline;
      margin: 0;
      margin-right: 6px;
      vertical-align: bottom; }

/*# sourceMappingURL=Style.css.map */
