body {
    width: 100%;
    background: url('../images/background.png') top no-repeat;
    margin: 0;
    position: relative;
    flex: 1;
    height: 600px;
}
.sidebar {
    position: fixed;
    width: 20%;
    height: 100%;
    background: #fdfdfd;
    border: 1px solid #efefef;
    border-right: 0;
    top:0;
    right:0;
    transition: all 0.2s;
}
.sidebar-hide {
    transform: translate(290px);
    opacity: 0;
}
.sidebar-show {
    transform: translate(0px);
    opacity: 100;
}
.container {
    width: 720px;
    margin: 0 auto;
    height: 100%;
}
.button-container {
    text-align: center;
    padding-top:60px;
    padding-bottom:60px;
}
.button-container button {
    display: inline-block;
    border: 0;
    width: 276px;
    height: 50px;
    background: #41aef6;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    padding-top: 3px;
    transition: all 0.3s;
    position: relative;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}
.button-container button:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: 0;
}
.button-container button:hover {
    letter-spacing: 3.2px;
    background-color:#09f;
}
.button-container button:hover:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}
.button-text-container{
    z-index: 20;
}
.tab-container {
    margin: 15px;
    overflow: hidden;
    padding: 2px;
    margin-right: 0px;
}
.tab-body {
    height: 60px;
    padding: 10px 0;
    padding-top: 0;
}
.tabs {
    width: 200px;
    border-radius: 4px;
    float: left;
    transition: all 0.6s;
    cursor: pointer;
    padding: 10px;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    transition: all 0.2s;
    margin-right: 10px;
    position: relative;
    overflow: hidden;

    .tab-opener {
        position: absolute;
        left: 0;
        top: 56px;
        width: 100%;
        height: 54px;
        background: rgba(0, 0, 0, 0.15);
        display: none;
        z-index: 1;
    }

    .tab-opener-btn {
        height: 35px;
        background: white;
        border-radius: 4px;
        width: 36px;
        float: left;
        border-radius: 50% 50%;
        box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.52);
        text-align: center;
        position: relative;
        overflow: hidden;

        .fa {
            font-size: 14px;
            top: -2px;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            color: #7d7d7d;
            transition: color 0.2s;
            display: block;
            height: 40px;
            padding-top: 13px;
            &:hover {
                color: #09f;
            }
        }

        &.openNew {
            margin-left: 10px;
        }
    }

    .tab-opener-buttons {
        position: absolute;
        width: 82px;
        display: none;
        z-index: 2;
        left: 0;
        right: 0;
        margin: 0 auto;
        margin-top: 54px;
    }

    &.filledTabs {
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
        background: #fcfcfc;

        .tab-name {
            font-weight: bold;
        }
    }

    &.emptyTabs {
        border: 1px dashed #acacac;
        background: rgba(255, 255, 255, 0);
    }
    .tab-name {
        position: relative;
        border: 1px solid #e0e0e0;
        margin-left: -70px;
        border-radius: 4px;
        background: #fbfbfb;
        font-size: 10px;
        font-family: sans-serif;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding: 3px 10px;
        color: #7d7d7d;
        margin: 0 auto;
        text-align: center;
        max-width: 175px;
        display: inline-block;
        transition: all 0.2s;
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .tab-remove {
        position: absolute;
        right: 7px;
        bottom: 11px;
        color: #828282;
        display: none;
        font-size: 14px;
        z-index: 4;
    }
    &:hover {
        background: #f7f7f7;
        .tab-opener,.tab-opener-buttons {
            display: block;
        }
        .tab-name{
            background: #fff;
        }
        .tab-remove{
            display: block;
        }
    }
    .tab-icons {
        padding: 3px;
        border: 1px solid #d9d9d9;
        width: 17px;
        margin-bottom: -2px;
    }
}
.row {
    overflow: hidden;
    padding-top: 2px;
    padding-left: 2px;
}
.row .tabs:nth-child(2) {
    margin-left: 18px;
    margin-right: 18px;
}
.tab-footer {
    text-align: center;
}
.power-button-container {
    position: fixed;
    top: 20px;
    right: 20px;
}
.power-button {
    border-radius: 40px;
    background: gold;
    color: white;
    border: 0px;
    outline: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #dabb42;
    font-size: 12px;
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
}
.power-button:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: 0;
}
.power-button:hover:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}
.modal-bg {
    background: rgba(0, 0, 0, 0.74);
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.modal {
    background: white;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 45px;
    position: relative;
    overflow: hidden;
    position: relative;
    margin-bottom: 100px;
}
.modal-sm {
    width: 500px;
    height: 432px;
    top: -36px;
    margin-bottom: -25px;
    margin-top: 84px;
    padding-bottom: 70px;
}
.modal-lg {
    width: 600px;
    height: 580px;
    top: -36px;
    margin-bottom: -25px;
}
.modal-close {
    font-size: 19px;
    color: #b1b1b1;
    position: absolute;
    top: 10px;
    right: 12px;
    cursor: pointer;
}
.modal-header {
    padding: 12px;
    background: #f7f7f7;
    border-bottom: 1px solid #eceaea;
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #696969;
    font-weight: bold;
}
.modal-body {
    padding: 12px;
}
.modal-body .input-group label{
    font-size: 11px;
    display: block;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #696969;
    margin-bottom: 8px;
}
.modal-body .input-group input[type="text"]{
    display: block;
    width: 450px;
    border: 1px solid #c7c5c5;
    border-radius: 4px;
    padding: 7px 12px;
    outline: none;
    font-size: 14px;
    margin-bottom: 20px;
    transition: all 0.2s;
}

.modal-body .input-group textarea{
    display: block;
    width: 450px;
    border: 1px solid #c7c5c5;
    border-radius: 4px;
    padding: 7px 12px;
    outline: none;
    font-size: 14px;
    margin-bottom: 20px;
    resize: false;
}

.modal-footer {
    padding: 12px 0px;
    position: absolute;
    bottom: 0px;
    left: 0;
    background: #f7f7f7;
    border-top: 1px solid #eceaea;
    height: 30px;
    overflow: hidden;
    width: 100%;
    .modal-footer-container {
        padding: 0px 12px;
        overflow: hidden;
    }
}
.link-tag-container {
    position: relative;
    border: 1px solid #c6c5c5;
    border-radius: 4px;
    padding: 10px;
    background: #fdfdfd;
    overflow: hidden;
    padding-bottom: 0px;
    padding-right: 0px;

    .link-image {
        display: block;
        float:left;
        border-radius: 50% 50%;
        overflow: hidden;
    }
    .link-text {
        float: left;
        margin-left: 5px;
        width: 84px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.modal-footer .btn {
    border: 0;
    color: white;
    background: #09f;
    border-radius: 4px;
    padding: 6px 20px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.link-tag {
    border: 1px solid #c6c5c5;
    padding: 3px;
    min-width: 20px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    overflow: hidden;
    padding-right: 30px;
    position: relative;
    cursor: pointer;
    background: white;

    &:hover {
        background: rgba(0, 0, 0, 0.04);
    }
}
.remove-tab-tag {
    position: absolute;
    right: 6px;
    color: #bdbcbc;
    top: 6px;
}
.modal-bg {
    display: none;
}
.button {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.button:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: 0;
}
.button:hover:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}
.radio-container {
    overflow: hidden;
    margin-bottom: 20px;
    .options {
        margin-right: 10px;
        float: left;
        overflow: hidden;
        label {
            font-weight: bold;
            display: inline;
        }
        input {
            display: inline;
            margin: 0;
            margin-right: 6px;
            vertical-align: bottom;
        }
    }
}

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 25px 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    background: rgb(243, 243, 243);
    border-top: 1px solid #dedede;

    .footer-btn {
            display: inline-block;
            margin-right: 17px;
            padding: 7px 20px;
            border-radius: 4px;
            letter-spacing: 1px;
            color: #2c2c2c;
            border: 1px solid #cdcdcd;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
            background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
            background-image: linear-gradient(to bottom, #ffffff, #f4eeee);
            min-width: 100px;
            text-align: center;
            cursor: pointer;
            transition: all 0.2s;
            font-size: 13px;

        &:hover {
            background-image: none;
            background-color: #fff;
        }

        &:last-child {
            margin-right: 0px;
        }
    }
}
.tree-container {
    position: relative;
    width: 100%;
    height: 515px;
    overflow-x: auto;
    .tree {
        border: 1px solid #dedede;
        border-radius: 4px;
        background: rgba(0, 0, 0, 0.02);
        padding: 10px 10px;
        margin-bottom: 10px;
        padding-top: 0px;
        position: relative;
    }
    input[type="checkbox"] {
        margin: 10px;
        vertical-align: bottom;
        margin-left: 0px;
        margin-bottom: 1px;
    }
    label {
        font-size: 14px;
        letter-spacing: 1px;
        cursor: pointer;
    }
    .label-text {
        display: inline-block;
        width: 450px;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: bottom;
        background: rgba(0, 0, 0, 0.01);
        padding-left: 8px;
    }
    .label-favIcon {
        display: inline-block;
        margin-left: 0px;
        width: 15px;
        height: 15px;
        vertical-align: bottom;
        color: #757575;
    }
    .branch {
        position: relative;
    }
    .volume-icon {
        position: absolute;
        right: 0px;
        top: 5px;
        cursor: pointer;
        padding: 4px;
        background: #f9f9f9;
        border: 1px solid #bbb;
        border-radius: 32px;
        box-shadow: 1px 1px 1px #f1f1f1;
        width: 12px;
        text-align: center;
    }
}
.tree-header {
    border-bottom: 1px solid #dcdcdc;
    margin: 0 -10px;
    padding: 10px;
    letter-spacing: 1px;
    font-size: 13px;
    color: #757575;
    position: relative;
    overflow: hidden;

    .close-window-tab {
        float: right;
        margin: 0!important;
        cursor: pointer
    }
}