html, body {
  height: 100%;
  width: 100%;
  margin: 0; }

body {
  background: #efefef url(../../images/bg.jpg) left top; }

.header {
  padding-top: 19px;
  padding-bottom: 19px;
  background: rgba(0, 0, 0, 0.03);
  margin-bottom: 16px; }

.search-wrap-home {
  position: relative; }
  .search-wrap-home .search-button {
    position: absolute;
    top: 12px;
    right: 15px;
    z-index: 1;
    color: #949494; }
  .search-wrap-home img {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 8px;
    left: 10px; }
  .search-wrap-home .js-search-input {
    font-size: 14px;
    font-weight: normal;
    color: #333;
    display: block;
    width: 100%;
    outline: none;
    border: none;
    height: 40px;
    z-index: 1;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.06);
    padding: 0px 15px;
    letter-spacing: 1px;
    padding-left: 40px; }
    .search-wrap-home .js-search-input:hover, .search-wrap-home .js-search-input:active, .search-wrap-home .js-search-input:focus {
      box-shadow: 0 4px 7px rgba(0, 0, 0, 0.06); }

.links-container {
  background: #fff;
  border-radius: 4px;
  box-shadow: 1px 1px 1px #dbdbdb;
  border: 1px solid #ddd; }
  .links-container ul {
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0px; }
    .links-container ul li {
      float: left;
      font-size: 13px; }
      .links-container ul li:first-child {
        margin-left: 0px; }
      .links-container ul li:last-child a {
        border-right: 0px; }
      .links-container ul li a {
        letter-spacing: 1.5px;
        color: #757575;
        display: block;
        text-align: center;
        cursor: pointer;
        line-height: 38px;
        border-right: 1px solid #e5e5e5;
        font-weight: bold; }
        .links-container ul li a:hover {
          background: rgba(0, 0, 0, 0.02);
          text-decoration: none; }
        .links-container ul li a .fa {
          margin-right: 5px; }
        .links-container ul li a .fa-clock-o {
          color: #f28a09; }
        .links-container ul li a .fa-reorder {
          color: #7acaff; }
        .links-container ul li a .fa-gear {
          color: lightcoral; }

.book-container {
  width: 100%;
  height: 100%;
  background: white;
  box-shadow: 1px 1px 1px #d6d6d6;
  border: 1px solid #d6d6d6;
  border-radius: 4px; }
  .book-container .header {
    padding: 10px;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #6f6e6e;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    margin-bottom: 0px; }
  .book-container .body textarea {
    width: 100%;
    height: 774px;
    border: 0px;
    resize: none;
    padding: 10px;
    display: block;
    outline: none;
    font-size: 14px;
    letter-spacing: 1px;
    color: #6d6d6d; }

.strip {
  height: 1.5px;
  width: 100%;
  overflow: hidden; }
  .strip .elements {
    width: 10%;
    height: 100px;
    float: left; }

.frequent-tab {
  width: 100%;
  height: 44px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition-duration: 200ms;
  transition-property: transform, box-shadow, margin, opacity, width;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background: white;
  border-radius: 4px;
  margin-bottom: 20px; }

.tabbbs {
  height: 120px; }
  .tabbbs.empty {
    box-shadow: none;
    border: 1px dashed #cacaca;
    background: rgba(0, 0, 0, 0.03); }

hr {
  border-bottom: 1px dashed #b7b7b7;
  margin: 0px; }

/*# sourceMappingURL=style.css.map */
