html, body {
  height: 100%;
  width: 100%;
  margin: 0; }

body {
  background: #efefef url(../../images/bg.jpg) left top; }

.container-fluid.header {
  padding-top: 19px;
  background: rgba(0, 0, 0, 0.03);
  height: 9%; }
.container-fluid.body {
  height: 91%; }
.container-fluid .row {
  height: 100%; }
.container-fluid .col-* {
  height: 100%; }

.search-wrap-home {
  position: relative; }
  .search-wrap-home .search-button {
    position: absolute;
    top: 12px;
    right: 15px;
    z-index: 1;
    color: #949494; }
  .search-wrap-home img {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 8px;
    left: 10px; }
  .search-wrap-home .js-search-input {
    font-size: 14px;
    font-weight: normal;
    color: #333;
    display: block;
    width: 100%;
    outline: none;
    border: none;
    height: 40px;
    z-index: 1;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.06);
    padding: 0px 15px;
    letter-spacing: 1px;
    padding-left: 40px; }
    .search-wrap-home .js-search-input:hover, .search-wrap-home .js-search-input:active, .search-wrap-home .js-search-input:focus {
      box-shadow: 0 4px 7px rgba(0, 0, 0, 0.06); }

.links-container {
  background: #fff;
  border-radius: 4px;
  box-shadow: 1px 1px 1px #dbdbdb;
  border: 1px solid #ddd; }
  .links-container ul {
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0px; }
    .links-container ul li {
      float: left;
      font-size: 13px; }
      .links-container ul li:first-child {
        margin-left: 0px; }
      .links-container ul li:last-child a {
        border-right: 0px; }
      .links-container ul li a {
        letter-spacing: 1.5px;
        color: #757575;
        display: block;
        text-align: center;
        cursor: pointer;
        line-height: 38px;
        border-right: 1px solid #e5e5e5;
        font-weight: bold; }
        .links-container ul li a:hover {
          background: rgba(0, 0, 0, 0.02);
          text-decoration: none; }
        .links-container ul li a .fa {
          margin-right: 5px; }
        .links-container ul li a .fa-clock-o {
          color: #f28a09; }
        .links-container ul li a .fa-reorder {
          color: #7acaff; }
        .links-container ul li a .fa-gear {
          color: lightcoral; }
        .links-container ul li a .fa-flash {
          color: #ec1f00; }

.book-container {
  width: 100%;
  height: 92%;
  background: white;
  box-shadow: 1px 1px 1px #d6d6d6;
  border: 1px solid #d6d6d6;
  border-radius: 4px; }
  .book-container .header {
    padding: 10px;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #6f6e6e;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    margin-bottom: 0px;
    background: rgba(0, 0, 0, 0.03); }
  .book-container .body textarea {
    width: 100%;
    height: 100%;
    border: 0px;
    resize: none;
    padding: 10px;
    display: block;
    outline: none;
    font-size: 14px;
    letter-spacing: 1px;
    color: #6d6d6d; }

.strip {
  height: 1.5px;
  width: 100%;
  overflow: hidden; }
  .strip .elements {
    width: 10%;
    height: 100px;
    float: left; }

.frequent-tab {
  width: 100%;
  height: 44px;
  cursor: pointer;
  transition-duration: 200ms;
  transition-property: transform, box-shadow, margin, opacity, width;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background: white;
  border-radius: 4px;
  margin-bottom: 20px;
  box-shadow: 0 2px 2px 0 rgba(101, 101, 101, 0.16), 0 0 0 1px rgba(152, 152, 152, 0.08); }

.tabbbs {
  height: 120px; }
  .tabbbs.empty {
    box-shadow: none;
    border: 1px dashed #cacaca;
    background: rgba(0, 0, 0, 0.03); }

hr {
  border-bottom: 1px dashed #b7b7b7;
  margin: 0px; }

.left-pannel, .right-pannel {
  height: 100%; }

.content {
  padding-top: 30px; }

.section-header {
  letter-spacing: 0pt;
  text-align: left;
  color: #b1b1b1;
  text-shadow: 0 1px 1px #fff;
  cursor: default;
  font-family: monospace;
  line-height: 0;
  margin-bottom: 20px;
  font-size: 21px;
  margin-top: 7px;
  word-spacing: -6px; }

.tabsite {
  overflow: hidden;
  padding: 10px;
  padding-left: 40px;
  position: relative; }
  .tabsite .fa-times-circle {
    position: absolute;
    right: 8px;
    top: 5px;
    color: #b9b9b9;
    display: none; }
  .tabsite:hover {
    background: rgba(0, 0, 0, 0.02); }
    .tabsite:hover .fa-times-circle {
      display: block; }
  .tabsite img {
    float: left;
    position: absolute;
    width: 20px;
    top: 13px;
    left: 12px; }
  .tabsite div {
    float: left;
    width: 230px;
    height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 4px;
    white-space: nowrap;
    letter-spacing: 0.5px;
    color: #717171;
    font-size: 13px;
    padding-right: 15px; }

/*# sourceMappingURL=style.css.map */
